.main.games {
    .content {
        .wrap {
            .row {
                margin-top: 5px;

                .col {
                    .buttons-wrap {
                        flex-wrap: wrap;

                        .link-play-seriously {
                            max-width: 197px;
                            width: 100%;
                            height: 40px;
                            margin-top: 8px;
                            color: #878104;
                            background: linear-gradient(0, rgba($color-6, 1) 0%, rgba($color-7, 1) 100%);

                            &:hover {
                                color: #305c08;
                                background: linear-gradient(0, rgba($color-8, 1) 0%, rgba($color-9, 1) 100%);
                            }
                        }
                    }
                }
            }
        }

        .text-wrap {
            margin-top: 45px;
        }
    }
}

.main.game {
    .content {
        .game-wrap {
            margin-top: 25px;

            .common-wrap {
                display: flex;
                justify-content: space-between;

                .social-row {
                    flex: 0 0 20%;
                }
            }

            .img-block {
                img {
                    width: 100%;
                }
            }
        }
    }

    .popularity-games, .new-games {
        padding-top: 30px;
        padding-bottom: 20px;

        .row {
            display: flex;
            margin-top: 30px;

            .col {
                position: relative;
                max-width: 230px;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 10px;
                margin: 0 10px;
                text-align: center;
                background: $color-11;

                .title {
                    text-transform: uppercase;

                    a {
                        font-size: 20px;
                        font-weight: normal;
                        color: $color-7;
                    }
                }

                .img-block {
                    img {
                        width: 100%;
                    }
                }

                .buttons-wrap {
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;

                    .link-play, .link-favorite, .link-play-seriously {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                        color: #305c08;
                        background: linear-gradient(0, rgba($color-8, 1) 0%, rgba($color-9, 1) 100%);
                        border-radius: 3px;
                        transition: .1s ease;
                    }

                    .link-play {
                        max-width: 140px;
                        width: 100%;
                        height: 40px;
                        margin-right: 7px;
                        font-size: 16px;

                        &:hover {
                            color: #878104;
                            background: linear-gradient(0, rgba($color-6, 1) 0%, rgba($color-7, 1) 100%);
                        }
                    }

                    .link-favorite {
                        max-width: 50px;
                        width: 100%;
                        height: 40px;

                        &:hover {
                            color: $color-7;
                        }
                    }
                }

                &::before, &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    display: block;
                    height: 1px;
                    background: linear-gradient(90deg, rgba($brd-color-1, 1) 0%, rgba($brd-color-2, 1) 50%, rgba($brd-color-1, 1) 100%);
                }
        
                &::before {
                    top: 0;
                }
        
                &::after {
                    bottom: 0;
                }

                &:first-of-type {
                    margin-left: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    .popularity-games {
        margin-top: 30px;
        background: linear-gradient(90deg, rgba($color-4, 1) 0%, rgba($color-5, 1) 50%, rgba($color-4, 1) 100%);
    }
}