.manufacturer {
    .content {
        .top-wrap {
            display: flex;
            justify-content: space-between;

            .left-block {
                max-width: 620px;
                width: 100%;

                .props-list {
                    margin-top: 20px;

                    .prop {
                        display: flex;
                        justify-content: space-between;
                        margin: 5px 0;

                        .name {
                            color: $color-7;
                        }

                        .value {
                            order: 3;
                        }

                        &:before {
                            content: ''; /* Выводим линию */
                            border-bottom: 1px dotted $color-10; /* Параметры линии */
                            flex-grow: 1; /* Линия занимает всё доступное пространство */
                            order: 2; /* Выводим вторым */
                            margin: 0 5px; /* Расстояние от текста */
                        }
                    }
                }
            }
        }

        .main-desc {
            margin-top: 30px;
        }
    }

    .games {
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 20px;
        background: linear-gradient(90deg, rgba($color-4, 1) 0%, rgba($color-5, 1) 50%, rgba($color-4, 1) 100%);

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;

            .col {
                position: relative;
                max-width: 220px;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 10px;
                margin: 10px;
                text-align: center;
                background: $color-11;

                .title {
                    text-transform: uppercase;

                    a {
                        font-size: 20px;
                        font-weight: normal;
                        color: $color-7;
                    }
                }

                .img-block {
                    img {
                        width: 100%;
                    }
                }

                .buttons-wrap {
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;

                    .link-play, .link-favorite, .link-play-seriously {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                        color: #305c08;
                        background: linear-gradient(0, rgba($color-8, 1) 0%, rgba($color-9, 1) 100%);
                        border-radius: 3px;
                        transition: .1s ease;
                    }

                    .link-play {
                        max-width: 140px;
                        width: 100%;
                        height: 40px;
                        margin-right: 7px;
                        font-size: 16px;

                        &:hover {
                            color: #878104;
                            background: linear-gradient(0, rgba($color-6, 1) 0%, rgba($color-7, 1) 100%);
                        }
                    }

                    .link-favorite {
                        max-width: 50px;
                        width: 100%;
                        height: 40px;

                        &:hover {
                            color: $color-7;
                        }
                    }
                }

                &::before, &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    display: block;
                    height: 1px;
                    background: linear-gradient(90deg, rgba($brd-color-1, 1) 0%, rgba($brd-color-2, 1) 50%, rgba($brd-color-1, 1) 100%);
                }
        
                &::before {
                    top: 0;
                }
        
                &::after {
                    bottom: 0;
                }

                &:first-of-type {
                    margin-left: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }

                &:nth-of-type(4n+1) {
                    margin-left: 0;
                }

                &:nth-of-type(4n+4) {
                    margin-right: 0;
                }
            }
        }
    }
}