.main.news {
    .content {
        .wrap {
            .row {
                .card {
                    display: flex;
                    align-items: center;
                    flex: 0 0 100%;
                    margin: 15px 0;
                    text-align: left;
                    background: transparent;

                    .img-block {
                        max-width: 150px;
                        width: 100%;
                        height: 150px;
                        margin-right: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .text-wrap {
                        margin-left: 10px;

                        .news-title {
                            margin-bottom: 10px;
                            font-size: 18px;
                            font-weight: normal;
                            text-transform: uppercase;

                            a {
                                color: $color-7;
                            }
                        }

                        .date {
                            display: block;
                            font-size: 13px;
                            color: $color-10;
                        }

                        .text {
                            margin-top: 10px;
                            font-size: 16px;
                            line-height: 20px;
                        }

                        .link {
                            color: $color-7;
                        }
                    }

                    &:first-of-type {
                        margin-top: 0;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.main.news-page {
    .content {
        .page-title {
            margin-bottom: 25px;
        }

        .wrap {
            .date {
                display: block;
                font-size: 13px;
                color: $color-10;
            }

            .text {
                margin: 25px 0;
                font-size: 16px;
                line-height: 24px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .img-block {
                img {
                    width: 100%;
                }
            }

            .img-block.fl-left {
                float: left;
                margin-right: 20px;
            }
        }
    }
}