$color-1: #ffffff;
$color-2: #000000;
$color-3: #031225;
$color-4: #041833;
$color-5: #102f59;
$color-6: #d5cb02;
$color-7: #fff200;
$color-8: #5cac14;
$color-9: #7ddb29;
$color-10: #3764a0;
$color-11: #0c2444;
$brd-color-1: #11305a;
$brd-color-2: #277cef;